In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
import seaborn as sns

In [11]:
df=pd.read_csv('creditcard.csv')
df.sample(5)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
17489,28764.0,-0.683952,1.117557,1.676694,-0.048087,0.036061,-0.607056,0.691947,-0.021314,-0.456469,...,-0.132559,-0.305844,0.051096,0.397060,-0.479562,0.041234,0.212373,0.190189,4.99,0
192640,129790.0,2.015453,0.135506,-1.725321,0.544265,0.149537,-1.440655,0.267127,-0.362052,0.621939,...,0.209142,0.737578,-0.025943,-0.082276,0.224312,-0.099383,-0.003873,-0.029206,20.43,0
227716,145190.0,-1.547679,0.430305,-0.881125,-0.249498,0.178981,-0.754526,0.027212,0.816041,-0.274249,...,0.558447,1.321787,-0.297970,-0.421738,-0.313699,-0.060792,0.105492,-0.010812,45.06,0
170701,120314.0,2.116292,-0.992754,-1.760227,-1.178029,-0.143502,-0.434914,-0.372570,-0.230775,-0.714319,...,0.473543,1.208301,-0.224787,-1.026894,0.283471,0.114641,-0.053209,-0.072663,85.75,0
35771,38255.0,1.513682,-1.202659,0.481476,-1.616405,-1.454961,-0.032725,-1.425962,0.101922,-1.680858,...,-0.072219,0.138369,-0.105836,-0.526318,0.394259,-0.066669,0.042027,0.006963,12.00,0

In [12]:
df.shape

(284807, 31)

In [13]:
X=df.drop(columns=['Class','Time','Amount'])

In [14]:
y=df.iloc[:,-1:]

In [15]:
df['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [16]:
y.sum()

Class    492
dtype: int64

In [17]:
lr=LogisticRegression()

In [18]:
lr.fit(X,y)

C:\Users\ADMIN\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\sklearn\utils\validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)